html, body { font-family: 'Trebuchet MS', Tahoma, Arial; font-size: 13px; margin: 0; padding: 0; height: 100%; }

/*Reseed values bootstrap*/
textarea { resize: none; }
ul, li { margin: 0; padding: 0; }
div:focus, span:focus, button:focus { outline: none; }
input[type='text'], input[type='password'], select, textarea { border: 1px solid #ccc; }
input:focus, select:focus, textarea:focus { border-color: #ccc; }
label { font-weight: normal; }
input[type='text'], input[type='password'], select, textarea, .form-control, input:focus, select:focus, textarea:focus, .well { box-shadow: none !important; }
.form-control:focus { border-color: #ccc; }
input[type='text'], input[type='password'], select, textarea, .panel, .input-group-addon, .form-control, .btn, .well, .alert, .progress { border-radius: 0 !important; }
input:focus, select:focus, textarea:focus, .btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 none !important; }
.well { margin: 10px 0; }
.checkbox-inline label, .radio-inline label { font-weight:normal; }
span.radio-inline label { padding-right:10px; }
.radio-group td > span { display:inline-block; padding-left: 20px; font-weight: 400; vertical-align: middle;  padding-top: 7px; }
.radio-group td > span input[type=radio] { position:absolute; margin:4px 0 0; margin-left:-20px; }
.radio-group td > span label { font-weight:400; padding-right:10px; }

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover { background-color:#0090D7; border-color:#0090D7; }

h1, h2, h3, h4, h5 { margin-top:0; }
/*Maqueta principal*/
#wrapper { min-height: 100%; position: relative; }
#header { background-color: #0090D7; color:#fff; }
#bodycontent { padding-bottom: 70px; width: 100%; }
#footer { font-family: "Open Sans", Trebuchet MS, Tahoma, Arial; position: absolute; bottom: 0; width: 100%; height: 70px; /* Altura del footer */ background-color: #0090D7; }

#bodycontent > .container-fluid { margin-top:10px; }
